$mainblue: #006ce5;
$mainred: #ff4a4a;
$maingray: #474747;
$darkgray: #555555;
$lightgray: #777777;
$coldgray: #edf6fe;

// ======================== colors end

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 102, 204, 0.5);
    opacity: 0;
    z-index: 99999;
    cursor: default;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.popup, .popup2{
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 50px;
    margin-left: -515px;
    z-index: 999999;
    background: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    transition: opacity .5s, top .5s;
}

.form-header{
    position: relative;
    height: 150px;
    padding: 60px 30px 0 30px;
    background: $mainblue url(../images/faded-ribbon.png);
    color: #fff;
    text-transform: uppercase;
    h1{
        font-size: 38px;
        line-height: 1.5em;
    }
    h2{
        font-size: 20px;
    }
}

.close_modal{
    position: absolute;
    right: 30px;
    top: 30px;
    height: 23px;
    width: 23px;
    background: url(../images/close.png) center no-repeat;
}

.form-hor-line{
  height: 5px;
  width: 175px;
  margin-bottom: 20px;
  background: $mainred;
}

.reg-form {
    padding: 45px;
    width: 940px;
    p {
        display: inline;
        line-height: 1.5;
    }
}

.par{
    color: $mainred;
}

.form-row{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.form-row .form-item:first-child{
    flex-basis: 250px;
    // border: 1px solid red;
}

.form-item{
    // border: 1px solid black;
    width: calc(100% - 250px);
}

.one-of-3{
    width: calc(33% - 80px);
    // border: 1px solid green;
}

.reg-form input{
    display: inline-block;
    line-height: 45px;
    border-radius: 25px;
    border: 1px solid #84898b;
    text-align: center;
    outline: none;
}

input:focus {
    background: #fff;
    outline: none;
}

.reg-form input[type="text"] {
    
}

.option-list{
    display: block;
    float: left;
    height: 45px;
    width: 100%;
    // border-radius: 25px;
    text-align: center;
    outline: none;
    border: 1px solid $mainblue;
}

// .option-list::-ms-expand {
//     padding: 2em;
//     color: red;
//     background: black;
// }

.reg-form textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
}

.reg-form textarea:focus{
    text-align: left;
    outline: none;
}

.reg-form input[type="submit"] {
    display: inline-block;
    float: none;
    width: 300px;
    padding: 0;
    background: #006ce5;
    color: #fff;
    border: none;
}

.popup .close_modal,
.popup2 .close_modal  {
    cursor: pointer;
}

// ================================================================

    <div class="overlay"></div>
    <div class="popup">
        
        <div class="form-header">
            <div class="close_modal"></div>
            <div class="form-hor-line"></div>
            <h2>анкета для заполнения заявки</h2>
            <h1>в спортивный клуб SC Grand</h1>
        </div>
        <form class="reg-form" action="">
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">1.</span> Впишите ФИО ребенка</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="ФИО ребенка" name="child-name">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">2.</span> Возраст ребенка</p>
            	</div>
            	<div class="form-item">
            		<input type=date name="child-age">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">3.</span> ФИО мамы</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Имя" name="mother-name">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">4.</span> ФИО папы</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Имя" name="father-name">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">5.</span> Моб. мамы</p>
            	</div>
            	<div class="one-of-3">
            		<input type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required="" placeholder="8 ( ___ ) ___-__-__" name="mother-phone">
            	</div>
            	<div class="one-of-3">
            		<p><span class="par">6.</span> Моб. папы</p>
            	</div>
            	<div class="one-of-3">
            	    <input type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required="" placeholder="8 ( ___ ) ___-__-__" name="father-phone">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">7.</span> Домашний адрес</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Город / Улица" name="home-adress">
                    <input type="text" required="" placeholder="Корпус" name="home-adress">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item"></div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Дом" name="home">
                    <input type="text" required="" placeholder="Кв." name="apartment">
                    <p><span class="par">8.</span> Дом. номер</p>
                    <input type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required="" placeholder="8 ( ___ ) ___-__-__" name="home-phone">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">9.</span> Свидетельство о рождении</p>
            	</div>
            	<div class="one-of-3">
            		<input type="text" required="" placeholder="Серия" name="birth-s">   
            	</div>
            	<div class="one-of-3">
            	    <input type="text" required="" placeholder="Номер" name="birth-n">
            	</div>
            	<div class="one-of-3">
            	    <input type="text" required="" placeholder="Дата выдачи" name="birth-d">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item"></div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Кем выдан" name="birth-p">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">10.</span> Гражданство</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Российская Федерация" name="citizenship">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">11.</span> Разряд (если есть)</p>
            	</div>
            	<div class="form-item">
            		<select name="rank">
                        <option>1-й спортивный разряд</option>
                        <option>2-й спортивный разряд</option>
                        <option>3-й спортивный разряд</option>
                    </select>
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">12.</span> Учебное заведение</p>
            	</div>
            	<div class="one-of-3">
            		<input type="text" required="" placeholder="школа" name="school">
            	</div>
            	<div class="one-of-3">
            	    <p><span class="par">13.</span> Разряд (если есть)</p>
            	</div>
            	<div class="one-of-3">
            	    <select name="rank">
                        <option>1-й спортивный разряд</option>
                        <option>2-й спортивный разряд</option>
                        <option>3-й спортивный разряд</option>
                    </select>
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">14.</span> Адрес школы</p>
            	</div>
            	<div class="form-item">
            		<input type="text" required="" placeholder="Город / Улица" name="school-adress">
                    <input type="text" required="" placeholder="Корпус" name="school-k">
                    <input type="text" required="" placeholder="Дом" name="school-b">
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">15.</span> Выберите вид спорта</p>
            	</div>
            	<div class="form-item">
            		<select id="select" name="sport" class="option-list">
                        <option value="Художественная гимнастика">Художественная гимнастика</option>
                        <option value="Эстетическая гимнастика">Эстетическая гимнастика</option>
                        <option value="Хореография">Хореография</option>
                        <option value="Стретчинг">Стретчинг</option>
                    </select>
            	</div>
            </div>
            <div class="form-row">
            	<div class="form-item">
            		<p><span class="par">16.</span> Дополнительная информация</p>
            	</div>
            	<div class="form-item">
            		<textarea name="Additional" placeholder="Ваши ожидания от занятий и тд."></textarea>
            	</div>
            </div>
            <p>Мы свяжемся с вами в ближайшие рабочие сутки, звонки не позже 18.00</p>
            <input type="submit" class="button" value="Отправить заявку" name="btnsend">
        </form>
    </div>