@charset "utf-8";
@import "normalize";

@font-face {
  font-family:"Amazing Grotesk";
  src:url("Amazing_Grotesk_Book.eot?") format("eot"),url("Amazing_Grotesk_Book.woff") format("woff"),url("Amazing_Grotesk_Book.ttf") format("truetype"),url("Amazing_Grotesk_Book.svg#AmazingGrotesk") format("svg");
  font-weight:normal;
  font-style:normal;}
  
@font-face {
  font-family:"Amazing Grotesk Ultra";
  src:url("Amazing_Grotesk_Ultra.eot?") format("eot"),url("Amazing_Grotesk_Ultra.woff") format("woff"),url("Amazing_Grotesk_Ultra.ttf") format("truetype"),url("Amazing_Grotesk_Ultra.svg#AmazingGrotesk-Ultra") format("svg");
  font-weight:normal;
  font-style:normal;
}

// ======================================== миксин для очистки флоатов

%clearfix {
   &:after {
      content: '';
      display: table;
      clear: both;
   }
}

// .selector  {
//   @extend %clearfix;
// }

// end

$mainblue: #006ce5;
$mainred: #ff4a4a;
$maingray: #474747;
$darkgray: #555555;
$lightgray: #777777;
$coldgray: #edf6fe;

body {
  background: $coldgray;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $maingray;
  line-height: 1em;
}

a{
  text-decoration: none;
}

ul,li, p{
  padding: 0;
  margin: 0;
}

h1, h2{ 
  line-height: 1em; 
  margin: 0;
  font-family: "Amazing Grotesk";
}

.container{
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

// =========================== Объявление

.ad{
  line-height: 35px;
  background: $mainred;
  text-align: center;
  color: #fff;
  span{
    text-transform: uppercase;
  }
}

// =========================== Header

.header-container{
  position: relative;
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding-top: 25px;
  background: url(../images/blue-ribbon.png) no-repeat;
}

header{
  height: 175px;
  background-color: $mainblue;
}

.main-contacts{
  position: absolute;
  right: 0;
  top: 45px;
  text-align: right;
  color: #fff;
  font-size: 18px;
  p {margin-bottom: 25px;}
}

.main-contacts img{
  margin-left: 30px;
}

.main-phone{
  font-size: 26px;
  font-weight: bold;
}

// =========================== Menu

.main-menu{
  height: 90px;
  background-color: $mainred;
}

.menu{
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-left: 1px solid #ee3131;
}

.menu li{
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  line-height: 90px;
  text-align: center;
  box-shadow: 1px 0 0 rgba(238, 49, 49, 1);
}

.menu li:hover{
  background: #ee3131;
}

.menu a{
  color: #fff;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  z-index: 999;
  display: none;
  min-width: 94px;
  text-align: left;
  padding: 10px 20px;
  background: $mainred;
  a {
    display: block;
    line-height: 55px;
  }
  a:hover{
    text-decoration: underline;
  }
}

.dropdown:hover .dropdown-content {
    display: block;
}

// =========================== Footer

footer{
  height: 135px;
  padding-top: 30px;
  margin-top: 60px;
  background: #fff;
  border-bottom: 5px solid $mainred;
}

.first-footer-column,
.second-footer-column,
.third-footer-column,
.fourth-footer-column,
.fifths-footer-column,
.sixths-footer-column{
	float: left;
}

.first-footer-column{width: 24%;}
.second-footer-column{width: 22%;}

.third-footer-column,
.fourth-footer-column,
.fifths-footer-column{width: 13%;}

.sixths-footer-column{
  width: 15%;
  line-height: 1em;
  padding-top: 20px;
  text-align: right;
  color: $mainblue;
  font-size: 18px;
}

.footer-menu ul{
}

.footer-menu li{
  list-style: none;
  margin: 20px 0;
  line-height: 1em;
}

.footer-menu a{ color: $darkgray; font-weight: normal; }
.footer-menu a:hover{ text-decoration:underline; }

.gravpix{
  margin-top: 15px;
  color: $mainred;
  font-size: 14px;
}

.gravpix a{ color: $mainred; }
.gravpix a:hover{ text-decoration: underline; }

// =========================== Index

.ribbon{
  height: 700px;
  width: 100%;
  background: $mainblue url(../images/lenta_plus.png) center no-repeat;
}

.grand{
  position: relative;
  height: 657px;
  background: url(../images/grand.png) center no-repeat;
}

.open_modal{
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -147px;
  height: 46px;
  width: 295px;
  border: 2px solid white;
  border-radius: 23px;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.open_modal:hover{
  background: $mainred;
  border-color: $mainred;
}

.news{
  height: 290px;
  margin-top: -40px;
  margin-bottom: 25px;
}

.news-item{
  height: 230px;
  width: 184px;
  float: left;
  padding: 30px 25px;
  background: #fff;
}

.news .news-item:nth-child(even) {
  background: $coldgray;
}

.news-item:first-child{
  height: 250px;
  width: 194px;
  padding: 40px 0 0 40px;
  background: $mainred;
  color: #fff;
}

.news-item img{
  margin-bottom: 15px;
}

.news-item h1{
  font-size: 28px;
  text-transform: uppercase;
}

.news-item h1:after{
  content: '\00bb';
  margin-left: 10px;
}

.news-item h2{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.news-date{
  color: $mainred;
  margin-bottom: 10px;
  font-family: "Amazing Grotesk";
}

.month{
  color: $mainblue;
}

.ribbon-text{
  height: 220px;
  background: $mainblue url(../images/ribbon-text.png) no-repeat;
}

.index-about{
  display: -webkit-flex;
  display: flex;
  height: 340px;
  margin-bottom: 25px;
  padding: 35px;
  background: #fff;
  font-size: 16px;
  p { 
    margin-bottom: 15px;
    line-height: 1.5em;
  }
}

.index-about-left,
.index-about-right{
  position: relative;
  width: 50%;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}

.index-about-left{ padding-right: 70px; }

.index-about h1{
  font: normal 30px 'Open Sans';
  color: $mainred;
}

.index-about h2{
  font: normal 20px 'Open Sans';
}

.hor-line{
  height: 5px;
  width: 175px;
  margin: 30px 0;
  background: $mainred;
}

.index-about-button{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 -35px -35px 0;
  line-height: 45px;
  width: 160px;
  background: $mainblue;
  color: #fff;
  text-align: center;
}
.index-about-button:hover{ background: #0057be; }

.sections-title{
  height: 180px;
  padding: 30px 70px 0 70px;
  background: $mainblue url(../images/000.png) no-repeat;
  color: #fff;
}

.sections-title h1{
  font-size: 40px;
}

.sections-title h2{
  font-size: 20px;
  text-transform: uppercase;
}

.sections-container{
  display: -webkit-flex;
  display: flex;
  height: 410px;
  background: #fff;
  color: $lightgray;
}

.sections-item{
  position: relative;
  width: 20%;
  padding-top: 35px;
  text-align: center;
  border-right: 1px solid #cdcdcd;
  h1{
    position: relative;
    z-index: 3;
    font-size: 24px;
    color: $mainblue;
    margin: 10px 0;
  }
  p {
    position: relative;
    z-index: 2;
    font-family: "Amazing Grotesk";
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.sections-container .sections-item:last-child {
  border: none;
  padding-top: 50px;
}

#registration-button{
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  margin-left: -80px;
  height: 30px;
  width: 160px;
  border: 2px solid $mainblue;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 28px;
  color: $mainblue;
  cursor: pointer;
}
#registration-button:hover{ background: $mainblue; color: #fff; }

