---
title: О НАС
---

<div class="container">
    <div class="about-img">
            <%= image_tag "about-girl.jpg" %>
        </div>
    <div class="standart-page-item">
        
        <div class="course-about">
            <div class="sections-course">
                <h3>Наш клуб предлагает</h3>
                 <p>Качественное обучение по двум самым красивым видам спорта Художественная и Эстетическая гимнастика.</p>
                <div class="hor-line"></div>
                <p>Основной деятельностью Клуба является организация тренировочного процесса для достижения высоких спортивных результатов, присвоения спортивных разрядов и званий  «кандидата в мастера» и «мастера спорта».</p>
                <p>Наши специалисты развивают в девочках пластичность, грациозность, эмоциональность, ритмичность. Стройность, здоровье, красота, хорошая физическая подготовка, дисциплина, сила воли – все это дает именно гимнастика.</p>
                <p>Приводите Вашего ребенка на занятия Художественной и Эстетической гимнастикой в наш Клуб. Подарите своему ребенку счастливое спортивное детство, массу ярких впечатлений и новых друзей!</p>
                <h2>Главная составляющая успеха в спорте?</h2>
                <p>Бесспорно, является слаженная работа 3х звеньев одной цепи, а именно:</p>
                <h2>Тренер – ребенок – родитель</h2>
                <p>От последнего звена требуется полное доверие, понимание и помощь.</p>
                <p>Только тогда можно добиться высоких результатов.</p>
            </div>
        </div>
    </div>
</div>