---
title: Эстетическая гимнастика
---

<div class="container">
    <div class="sections-title-cource title-cource-png">
        <div class="hor-line"></div>
        <h2>Эстетическая</h2>
        <h1>гимнастика</h1>
    </div>
    <div class="course-item">
        <div class="sections-course">
            <%= image_tag "Initial_training.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule-red title-schedule">Начальная подготовка</h1> 
            </div>
        </div>
        <div class="course-about sections-course">
            <div class="course-about-left">
                <h1>Набор в группу начальной подготовки будет осуществляться с сентября 2016 г.</h1>
                <div class="hor-line"></div>
            </div>
        </div>
    </div>
</div>