---
title: Эстетическая гимнастика
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>эстетическая гимнастика</h1>
    </div>
    
    <div class="standart-page-item">
        <div class="standart-page-item-left">
            <%= image_tag "013.jpg" %>
            <div class="standart-page-item-title">
                <h1>начальная подготовка</h1>
            </div>
            <!--<div class="standart-page-item-overlay">-->
            <!--    <div class="standart-page-reg-button">Записаться</div>-->
            <!--</div>-->
        </div>
        <div class="standart-page-item-right">
            <h3>Набор в группу начальной подготовки будет осуществляться с сентября 2016 г.</h3>
            <div class="hor-line"></div>
        </div>
    </div>
</div>