---
title: художественная гимнастика
---

<div class="container"> 

  <div class="gallery-album"> 
    <div class="gallery-img-holder"> 
      <a href="year_sport.html"><img src="images/albums/8_year_sport/8_photo.jpg" /></a> 
      <a href="year_sport.html"><h1>Первый тренировочный год - как посвящение в спортсмены.</h1> </a>
    </div> 
    <div class="gallery-img-holder"> 
      <a href="childhood.html"><img src="images/albums/7_childhood/7_photo.JPG" /></a> 
      <a href="childhood.html"><h1>Открытое Первенство МАУ &quot;ЦДЮС&quot; «Все мы родом из детства»</h1> </a> 
      <h2>21-22.05.2016</h2>
    </div> 
    <div class="gallery-img-holder"> 
      <a href="Balashikha.html"><img src="images/albums/6_Balashikha/6_photo.JPG" /></a> 
      <a href="Balashikha.html"><h1>Успех в г. Балашиха</h1> </a>
      <h2>26-27. 03. 2016</h2> 
    </div>  
    <div class="gallery-img-holder"> 
      <a href="Fryazino.html"><img src="images/albums/5_Fryazino/5_photo.JPG" /></a> 
      <a href="Fryazino.html"><h1>Появилось свободное время - проведи его в тренировке!</h1> </a>
      <h2>С 9 по 13 марта в г.Фрязино</h2> 
    </div> 
  </div> 

  <div class="gallery-album"> 
    <div class="gallery-img-holder"> 
      <a href="February.html"><img src="images/albums/4_February/4_photo.JPG" /></a> 
      <a href="February.html"><h1>«Февральские узоры»</h1> </a>
      <h2>28.02.2016 г. Фрязино</h2> 
    </div> 
    <div class="gallery-img-holder"> 
      <a href="Valentinka.html"><img src="images/albums/3_valentin/3_photo.JPG" /></a> 
      <a href="Valentinka.html"><h1>«Мисс Валентинка 2016»</h1> </a>
      <h2>12-13.02.2016 г.Москва</h2> 
    </div> 
    <div class="gallery-img-holder"> 
      <a href="Christmas_story.html"><img src="images/albums/2_ng/2_fhotos.JPG" /></a> 
      <a href="Christmas_story.html"><h1>«Новогодняя сказка»</h1> </a> 
    </div> 
    <div class="gallery-img-holder album_none"> 
      <!-- <a href="February.html"><img src="/images/news_logo.jpg" /></a> 
      <a href="February.html"><h1>«НАДЕЖДА»</h1></a>
      <h2>14-15 ноября 2015 г</h2>  -->
    </div> 
  </div> 

  

</div>