---
title: Попечительский совет СК «Гранд»
---

<div class="container"> 
    <div class="sections-title-cource title-cource-png-two">
        <div class="hor-line"></div>
        <h2>Попечительский совет</h2>
        <h1>СК «Гранд»</h1>
    </div>
    
    <div class="sovet-item">
        <div class="foto-sovet">
            <%= image_tag "poddubniy.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-sovet">Поддубный </br> Сергей Анатольевич</h1> 
            </div>
        </div>
        <div class="sovet-about sections-sovet">
            <div class="sovet-about-left">
                <h1>Депутат Государственной Думы ФС РФ</h1>
                <div class="hor-line"></div>
                <p>Заместитель председателя комитета ГД по физической культуре, спорту и делам молодёжи</p>
                <p>Заслуженный мастер спорта</p>
            </div>
        </div>
    </div>
    <div class="sovet-item">
        <div class="foto-sovet">
            <%= image_tag "vshivcev.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-sovet">Вшивцев </br> Владимир Сергеевич</h1> 
            </div>
        </div>
        <div class="sovet-about sections-sovet">
            <div class="sovet-about-left">
                <h1>Депутат Государственной Думы ФС РФ</h1>
                <div class="hor-line"></div>
                <p>Заслуженный мастер спорта</p>
            </div>
        </div>
    </div>
    <div class="sovet-item">
        <div class="foto-sovet">
            <%= image_tag "batisheva.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-sovet">Батышева </br> Татьяна Тимофеевна</h1> 
            </div>
        </div>
        <div class="sovet-about sections-sovet">
            <div class="sovet-about-left">
                <h1>Депутат Московской городской Думы</h1>
                <div class="hor-line"></div>
                <p>Член Комиссии МГД по физической культуре, спорту и молодежной политике</p>
            </div>
        </div>
    </div>
    <div class="sovet-item">
        <div class="foto-sovet">
            <%= image_tag "scvorcova.jpg" %>
            <div class="blue-h1">
               <h1 class="sections-title-schedule title-sovet">Скворцова </br> Ирина Олеговна</h1> 
            </div>
        </div>
        <div class="sovet-about sections-sovet">
            <div class="sovet-about-left">
                <h1>Член Общественной палаты Российской Федерации</h1>
                <div class="hor-line"></div>
                <p>Заместитель председателя Комиссии ОПРФ по охране здоровья, физической</p>
                <p>культуре и популяризации здорового образа жизни</p>
            </div>
        </div>
    </div>
</div>

