---
title: контакты
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>наши контакты</h1>
    </div>
    <div class="contact-page">
        <div class="contact-page-left">
            <div class="c-p-item">
                <%= image_tag "009.png" %>
                <p>+7 495 784-14-16</p>
            </div>
            <div class="c-p-item">
                <%= image_tag "010.png" %>
                <p>info@sc-grand.ru</p>
            </div>
            <h3>Социальные сети:</h3>
            <a href="https://new.vk.com/public119759887" target=blank class="vk-link"></a>
            <a href="https://www.instagram.com/sc_grand/" target=blank class="insta-link"></a>
        </div>
        <div class="contact-page-right" id="contactPageForm">
            <form method="post" action="contactengine.php" class="contact-page-form">
                <input type="text" name="name" id="name" placeholder="Ваше имя" />
                <input type="text" name="mail" id="mail" placeholder="Ваша почта" />
                <input type="textarea" name="question" id="question" placeholder="Задайте интересующий вас вопрос" />
                <input type="submit" name="submit" value="Отправить" />
            </form>
        </div>
    </div>
    <div class="location-first-col">
        <div class="location">
            <h1>Зал №2:</h1>
            <div class="hor-line"></div>
            <h2>ФОК "Атлант Косино"</h2>
            <p>Г.Москва, ул. Большая Косинская, 5а</p>
            <h2>Метро:</h2>
            <p>Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=VPvhWghnw0Ats0uSWt_cDX0G9sYX6Exe&width=570&height=415&lang=ru_RU&sourceType=constructor"></script>
        </div>
    </div>
    <div class="location-second-col">
        <div class="location">
            <h1>Зал №1:</h1>
            <div class="hor-line"></div>
            <h2>ГБУ ЦПСИД «Косино-Ухтомский» </br> (СРЦН ВАО г.Москвы) </h2>
            <p>Г.Москва, ул. Муромская, д.1, стр.1</p>
            <h2>Метро:</h2>
            <p>Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=8-O7Lkb4_T6l9rKeoQjiLWl6vDs8DrL7&width=570&height=415&lang=ru_RU&sourceType=constructor"></script>
        </div>
    </div>

    <div class="location-first-col">
        <div class="location">
            <h1>Зал №4:</h1>
            <div class="hor-line"></div>
            <h2>ГБУ "Школа №633"</h2>
            <p>г. Москва, Федеративный проспект, д. 37А</p>
            <h2>Метро:</h2>
            <p>Новогиреево, Перово, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RZ9_zhRmmM52kFg_1KuYQr697U7JLJMu&amp;width=570&amp;height=415&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
    </div>
    <div class="location-second-col">
        <div class="location">
            <h1>Зал №3:</h1>
            <div class="hor-line"></div>
            <h2>ФОК "ГЕЛИОС"</h2>
            <p>ул. Лухмановская, д.10а</p>
            <h2>Метро:</h2>
            <p>Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=POyr9WUDb-B0s6OSy2X_G0sOeTBQhV2K&amp;width=570&amp;height=415&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
    </div>

    <div class="location-first-col">
        <div class="location">
            <h1>Зал №6:</h1>
            <div class="hor-line"></div>
            <h2>Школа № 2128" школьное отделение № 1914</h2>
            <p>г. Москва, ул. Суздальская, д.12</p>
            <h2>Метро:</h2>
            <p>Новогиреево, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=weNbCAfo0BIzl1t-4JZJu5kuyZ0Nt6Cq&amp;width=570&amp;height=415&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
    </div>
    <div class="location-second-col">
        <div class="location">
            <h1>Зал №5:</h1>
            <div class="hor-line"></div>
            <h2>ГБУ "Школа №1591" школьное отделение №3</h2>
            <p>Москва, ул.Новокосинская, д.42а</p>
            <h2>Метро:</h2>
            <p>Выхино, Новогиреево, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fN4WVko9FHtzoy3d-h4QnyAkVr2Mka9C&amp;width=570&amp;height=415&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
    </div>
</div>