---
title: контакты
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>наши контакты</h1>
    </div>
    <div class="contact-page">
        <div class="contact-page-left">
            <div class="c-p-item">
                <%= image_tag "009.png" %>
                <p>+7 495 784-14-16</p>
            </div>
            <div class="c-p-item">
                <%= image_tag "010.png" %>
                <p>info@sc-grand.ru</p>
            </div>
            <h3>Социальные сети:</h3>
            <a href="https://new.vk.com/public119759887" target=blank class="vk-link"></a>
            <a href="https://www.instagram.com/sc_grand/" target=blank class="insta-link"></a>
        </div>
        <div class="contact-page-right" id="contactPageForm">
            <form method="post" action="contactengine.php" class="contact-page-form">
                <input type="text" name="name" id="name" placeholder="Ваше имя" />
                <input type="text" name="mail" id="mail" placeholder="Ваша почта" />
                <input type="textarea" name="question" id="question" placeholder="Задайте интересующий вас вопрос" />
                <input type="submit" name="submit" value="Отправить" />
            </form>
        </div>
    </div>
    <div class="location-first-col">
        <div class="location">
            <h1>Зал №2:</h1>
            <div class="hor-line"></div>
            <h2>ФОК "Атлант Косино"</h2>
            <p>Г.Москва, ул. Большая Косинская, 5а</p>
            <h2>Метро:</h2>
            <p>Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=VPvhWghnw0Ats0uSWt_cDX0G9sYX6Exe&width=570&height=415&lang=ru_RU&sourceType=constructor"></script>
        </div>
    </div>
    <div class="location-second-col">
        <div class="location">
            <h1>Зал №1:</h1>
            <div class="hor-line"></div>
            <h2>ГБУ ЦПСИД «Косино-Ухтомский»</h2>
            <p>Г.Москва, ул.Муромская, д.1, стр.1</p>
            <h2>Метро:</h2>
            <p>Выхино, Лермонтовский пр-кт, Новокосино</p>
        </div>
        <div class="map-container">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=8-O7Lkb4_T6l9rKeoQjiLWl6vDs8DrL7&width=570&height=415&lang=ru_RU&sourceType=constructor"></script>
        </div>
    </div>
</div>