---
title: Постановки
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>постановки</h1>
    </div>
    
    <div class="standart-page-content">
        <h1>Наш клуб предлагает постановки:</h1>
        <div class="hor-line"></div>
        <ul>
            <li>упражнений по художественной гимнастике (индивидуальные и групповые программы)</li>
            <li>упражнений по эстетической гимнастике</li>
            <li>показательных номеров для различных видов спорта и шоу программ</li>
        </ul>
        <!--<div class="corner-registration-button">-->
        <!--    <p>записаться &#187</p>-->
        <!--</div>-->
    </div>
</div>