---
title: Постановки
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>постановки</h1>
    </div>
    
    <div class="standart-page-content">
        <h1>Наш клуб предлагает:</h1>
        <div class="hor-line"></div>
        <ul>
            <li>постановки по художественной гимнастике (индивидуальные и групповые программы)</li>
            <li>по эстетической гимнастике</li>
            <li>а также показательные номера для различных видов спорта</li>
        </ul>
        <div class="corner-registration-button">
            <p>записаться &#187</p>
        </div>
    </div>
</div>