---
title: Документы
---

<div class="container">
    <div class="sections-title-cource title-cource-png-three">
        <div class="hor-line"></div>
        <h2>SC-grand Документы</h2>
    </div>
    <div class="document">
        <%= image_tag "doc1.jpg" %>
        <%= image_tag "doc2.jpg" %>
        <%= image_tag "doc3.jpg" %>
    </div>
    <div class="course-about regulations">
        <div class="course-about-left">
            <h1>Ознакомьтесь с Уставом</h1>
            <h2>Автономной некоммерческой организации Спортивный клуб художественной и эстетической гимнастики “Гранд”</h2>
            <a href="https://drive.google.com/file/d/0B9DN5oZtbI55TWFzRHE5dTNsZTQ/view" target=blank class="document-button">Ознакомиться с Уставом СК-Гранд &#187</a>
        </div>
    </div>
</div>

