---
title: grand-ck
---

<div class="ribbon">
    <div class="container">
        <div class="grand">
            <a href="#">Заполнить анкету</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="news">
        <div class="news-item">
            <%= image_tag "paper.png" %>
            <h1>новости клуба</h1>
        </div>
        <div class="news-item">
            <p class="news-date">04 МАЯ</p>
            <h2>dont say it doesnt have</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 МАЯ</p>
            <h2>занятие во вторник отменяется</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 МАЯ</p>
            <h2>LOL</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
        <div class="news-item">
            <p class="news-date">04 МАЯ</p>
            <h2>SHRIFTI NE RABOTAUT AA</h2>
            <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Rувства можно через зажигающей танец.</p>
        </div>
    </div>
    <div class="ribbon-text">
    </div>
    <div class="index-about">
        <h1>Наш клуб предлагает</h1>
        <h2>качественное обучение всем, независимо от телосложения, возраста и пола!</h2>
        <div class="hor-line"></div>
        <p>Выплеснуть накопившиеся чувства можно через зажигающей танец. Наш клуб художественной гимнастики и танцев предлагает качественное обучение всем, независимо от телосложения, возраста и пола.</p>
        <a href="about.html" class="index-about-button">подробнее &#187</a>
    </div>
    <div class="sections-title">
        <div class="hor-line"></div>
        <h2>Набор в секции</h2>
        <h1>художественной и эстетической гимнастики</h1>
    </div>
    <div class="sections-container">
        <div class="sections-item">
            <p>художественная</p>
            <h1>гимнастика</h1>
            <p>художественная</p>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <p>художественная</p>
            <h1>гимнастика</h1>
            <p>художественная</p>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <p>художественная</p>
            <h1>гимнастика</h1>
            <p>художественная</p>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <p>художественная</p>
            <h1>гимнастика</h1>
            <p>художественная</p>
            <div id="registration-button">Записаться</div>
        </div>
        <div class="sections-item">
            <p>художественная</p>
            <h1>СЛЫШЬ ЭЙ ТЫ, ЧТО С ШРИФТАМИ?</h1>
            <p>художественная</p>
            <div id="registration-button">Записаться</div> 
        </div>
    </div>
</div>