---
title: новости
---

<div class="container">
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>новости</h1>
    </div>
    
    <div class="news-page-item">
        <div class="news-icon-holder">
            <%= image_tag "018.png" %>
        </div>
        <div class="news-image-holder">
            <%= image_tag "019.jpg" %>
        </div>
        <div class="news-content">
            <h1>Поздравляем гимнасток нашего клуба!</h1>
            <p>занявших призовые места в межрегиональном турнире «Новогодняя сказка» 23-24.01.2016</p>
            <div class="hor-line"></div>
            <p><span>2 место — </span>Полякова Елизавета (среди гимнасток 2004 г.р)</p>
            <p><span>4 место — </span>Полякова Елизавета (среди гимнасток 2004 г.р)</p>
            <p><span>4 место — </span>Полякова Елизавета (среди гимнасток 2004 г.р)</p>
        </div>
    </div>
    
</div>