---
title: расписание
---

<div class="container">
    
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>расписание</h1>
    </div>
    <div class="unnamed">
        <h1>Отделение "Косино-Ухтомский"</h1>
    </div>
    <div class="scedule-page">
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
            </tr>

            <tr>
                <td rowspan="2" class="wave"> 
                    <p><span>*ГСС</span></br> ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td rowspan="2" class="wave"> 
                    <p><span>15:30-21:00</span></br>(СРЦН ВАО г.Москвы)</p>
                </td>
                <td class="green-hore">
                    <p><span>15:30-16:30</span> хореография (ФОК "ГЕЛИОС")</p>
                </td>
                <td rowspan="2" class="wave">
                    <p><span>15:30-21:00</span></br>(СРЦН ВАО г.Москвы)</p>
                </td>
                <td class="green-hore">
                    <p><span>15:30-16:30</span> хореография (ФОК "ГЕЛИОС")</p>
                </td>
                <td rowspan="2" class="wave">
                    <p><span>15:30-21:00</span></br>(СРЦН ВАО г.Москвы)</p>
                </td class="wave">
                <td rowspan="2" class="wave">
                    <p><span>10:00-14:30</span></br>(СРЦН ВАО г.Москвы)</p> 
                </td>
            </tr>
            <tr>
                <td class=wave>
                    <p><span>16:30-21:00</span> (ФОК "ГЕЛИОС")</p>
                </td>
                <td class="wave">
                    <p><span>16:30-21:00</span> (ФОК "ГЕЛИОС")</p>
                </td>
            </tr>

            <tr>
                <td rowspan="2" class="yelow">
                    <p><span>*УТГ №1</span></br> ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td rowspan="2" class="yelow">
                    <p><span>15:30-19:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td rowspan="2" class="yelow">
                    <p><span>16:30-21:00</span></br> (ФОК "ГЕЛИОС")</p>
                </td>
                <td rowspan="2" class="yelow">
                    <p><span>15:30-19:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td class="green-hore"> 
                    <p><span>16:30-17:30</span> хореография (ФОК "ГЕЛИОС")</p>
                </td>
                <td rowspan="2" class="yelow">
                    <p><span>15:30-19:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td rowspan="5" class="blue">
                    <p><span>13:00-16:00</span> Индивидуальные занятия ГСС, УТГ, ГНП  (СРЦН ВАО г.Москвы)</p>
                </td>
            </tr>
            <tr>
                <td class="yelow">
                    <p><span>17:30-21:00</span> (ФОК "ГЕЛИОС")</p>
                </td>
            </tr>

            <tr>
                <td class="purple">
                    <p><span>УТГ №2</span></br> ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td class="purple">
                    <p><span>15:30-17:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>15:30-17:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>15:30-17:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
            </tr>

            <tr>
                <td class="slate-gray">
                    <p><span>*ГНП №1</span> </br>(1 год обучения) ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td class="slate-gray">
                    <p><span>19:00-20:00</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>19:00-20:00</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>19:00-20:00</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
            </tr>

            <tr>
                <td class="light-pink">
                    <p><span>ГНП №2</span> </br>(2 год обучения) ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td class="light-pink">
                    <p><span>19:00-20:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>19:00-20:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>19:00-20:30</span></br> (СРЦН ВАО г.Москвы)</p>
                </td>
            </tr>

            <tr>
                <td class="green">
                    <p><span>ГНП №3</span> </br>(2 год обучения) тренер</br> Васильева Е.С.</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:00</span></br> (ФОК "ГЕЛИОС")</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:00</span></br> (ФОК "ГЕЛИОС")</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:00</span></br> (ФОК "ГЕЛИОС")</p>
                </td>
            </tr>

            <tr>
                <td class="pink">
                    <p><span>ГНП №4</span> </br>(1 год обучения) ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td></td>
                <td class="pink">
                    <p><span>13:30-14:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td></td>
                <td class="pink">
                    <p><span>13:30-14:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td class="pink">
                    <p><span>13:30-14:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td></td>
            </tr>

            <tr>
                <td class="blue-two">
                    <p><span>ГНП №5</span> </br>(2 год обучения) ст.тренер</br> Круглова Я.И.</p>
                </td>
                <td></td>
                <td class="blue-two">
                    <p><span>14:30-15:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td></td>
                <td class="blue-two">
                    <p><span>14:30-15:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td class="blue-two">
                    <p><span>14:30-15:30</span></br> (ФОК "ГЕЛИОС") бесплатно</p>
                </td>
                <td></td>
            </tr>

            <tr>
                <td class="redis">
                    <p><span>ГНП №6</span> </br>(1 год обучения) тренер</br> Гололобова А.И.</p>
                </td>
                <td></td>
                <td class="redis">
                    <p><span>16:00-17:00</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td></td>
                <td class="redis">
                    <p><span>16:00-17:00</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td class="redis">
                    <p><span>16:00-17:00</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td></td>
            </tr>

            <tr>
                <td rowspan="2" class="orange">
                    <p><span>ГНП №7</span> </br>(2 год обучения) тренер</br> Гололобова А.И.</p>
                </td>
                <td></td>
                <td class="orange">
                    <p><span>17:00-18:30</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td></td>
                <td class="orange">
                    <p><span>17:00-18:30</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td class="orange">
                    <p><span>17:00-18:30</span></br> (ФОК "АТЛАНТ") бесплатно</p>
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td class="orange">
                    <p><span>18:30-19:30</span></br> (ФОК "АТЛАНТ")</p>
                </td>
                <td></td>
                <td class="orange">
                    <p><span>18:30-19:30</span></br> (ФОК "АТЛАНТ")</p>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="unnamed">
            <h1>Отделение "Ивановское"</h1>
        </div>

        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
            </tr>
            <tr>
                <td class="slate-gray">
                    <p><span>ГНП №1 "Ивановское"</span> </br>(1 год обучения</br> 6-7 лет) тренер</br> Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>18:00-19:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>18:00-19:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>10:00-11:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
            </tr>
            <tr>
                <td class="light-pink">
                    <p><span>ГНП №2 "Ивановское"</span> </br>(1 год обучения</br> 3-5 лет) тренер</br> Винокурова М.С.</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>19:00-20:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>19:00-20:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>11:00-12:00</span></br> (ГБУ "Школа № 633" )</p>
                </td>
            </tr>
        </table>

        <div class="unnamed">
            <h1>Отделение "Новокосино"</h1>
        </div>
        <table>
            <tr>
                <th class="dark-blue">№ группы</th>
                <th class="blue">Понедельник</th>
                <th class="blue">Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th class="blue">Пятница</th>
                <th class="red">Суббота</th>
            </tr>
            <tr>
                <td class="slate-gray">
                    <p><span>ГНП №1 "Новокосино"</span> </br>(2 год обучения) тренер</br> Аверина П.А.</p>
                </td>
                <td class="slate-gray">
                    <p><span>18:00-19:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td></td>
                <td class="slate-gray">
                    <p><span>18:00-19:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td class="slate-gray">
                    <p><span>18:00-19:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="light-pink">
                    <p><span>ГНП №2 "Новокосино"</span> </br>(1 год обучения) тренер</br> Аверина П.А.</p>
                </td>
                <td class="light-pink">
                    <p><span>19:30-20:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td></td>
                <td class="light-pink">
                    <p><span>19:30-20:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td class="light-pink">
                    <p><span>19:30-20:30</span></br> (ГБУ "Школа №2128", школьное отделение №1914)</p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="green">
                    <p><span>ГНП №3 "Новокосино"</span> </br>(2 год обучения) тренер</br> Аверина П.А.</p>
                </td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:30</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
                <td></td>
                <td></td>
                <td class="green">
                    <p><span>18:00-19:30</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
                <td class="green">
                    <p><span>11:30-13:00</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
            </tr>
            <tr>
                <td class="pink">
                    <p><span>ГНП №4 "Новокосино"</span> </br>(1 год обучения) тренер</br> Аверина П.А.</p>
                </td>
                <td></td>
                <td class="pink">
                    <p><span>19:30-20:30</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
                <td></td>
                <td></td>
                <td class="pink">
                    <p><span>19:30-20:30</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
                <td class="pink">
                    <p><span>10:30-11:30</span></br> (ГБУ "Школа №1591", школьное отделение корпус №3)</p>
                </td>
            </tr>
        </table>

    </div>
    
    <div class="scedule-tags">
        <div class="scedule-tag">
            <p>*ГСС - Группа спортивного совершенствования</p>
        </div>
        <div class="scedule-tag">
            <p>*УТГ - Учебно тренировочная группа</p>
        </div>
        <div class="scedule-tag">
            <p>*ГНП - Группа начальной подготовки</p>
        </div>
    </div>


</div>

