---
title: расписание
---

<div class="container">
    
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>расписание</h1>
    </div>
    
    <div class="scedule">
        <table>
            <tr>
                <th class="blue">Понедельник</th>
                <th>Вторник</th>
                <th class="blue">Среда</th>
                <th class="blue">Четверг</th>
                <th>Пятница</th>
                <th class="red">Суббота</th>
                <th class="red">Воскресенье</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="dark-blue">
                    <p><span>15:30-16:30</span> хореография УТГ и ГСС</p>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="blue">
                    <p><span>15:30-20:30</span> художественная гимнастика ГСС</p>
                </td>
                <td></td>
                <td class="blue">
                    <p><span>15:30-20:30</span> художественная гимнастика ГСС</p>
                </td>
                <td class="blue">
                    <p><span>16:30-20:30</span> художественная гимнастика ГСС</p>
                </td>
                <td></td>
                <td class="blue">
                    <p><span>10:00-15:00</span> художественная гимнастика ГСС</p>
                </td>
                <td class="blue">
                    <p><span>16:00-20:00</span> художественная гимнастика ГСС</p>
                </td>
            </tr>
            <tr>
                <td class="purple">
                    <p><span>15:30-19:00</span> художественная гимнастика УТГ</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>15:30-19:00</span> художественная гимнастика УТГ</p>
                </td>
                <td class="purple">
                    <p><span>16:30-19:00</span> художественная гимнастика УТГ</p>
                </td>
                <td></td>
                <td class="purple">
                    <p><span>10:00-12:30</span> художественная гимнастика УТГ</p>
                </td>
                <td class="purple">
                    <p><span>16:00-19:00</span> художественная гимнастика УТГ</p>
                </td>
            </tr>
            <tr>
                <td class="emerald">
                    <p><span>19:00-20:30</span> художественная гимнастика ГНП</p>
                </td>
                <td></td>
                <td class="emerald">
                    <p><span>19:00-20:30</span> художественная гимнастика ГНП</p>
                </td>
                <td>    </td>
                <td></td>
                <td class="emerald">
                    <p><span>10:00-11:30</span> художественная гимнастика ГНП</p>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    
    <div class="scedule-tags">
        <div class="scedule-tag blue">
            <p>Группа спортивного совершенствования (ГСС)</p>
        </div>
        <div class="scedule-tag purple">
            <p>Учебно тренировочная группа (УТГ)</p>
        </div>
        <div class="scedule-tag emerald">
            <p>Группа начальной подготовки (ГНП)</p>
        </div>
    </div>
    
</div>