---
title: Стретчинг
---

<div class="container">
    
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>стретчинг</h1>
    </div>
    
    <div class="standart-page-content">
        <h1>Наш клуб предлагает:</h1>
        <p>стретчинг (растяжку) для девочек занимающихся художественной, эстетической и спортивной гимнастикой, фигурным катанием, балетом.</p>
        <div class="hor-line"></div>
        <p>Занятия проводятся в мини-группах и индивидуально, по согласованию с тренером.</p>
        <!--<div class="corner-registration-button">-->
        <!--    <p>записаться &#187</p>-->
        <!--</div>-->
    </div>
    
</div>