---
title: Стретчинг
---

<div class="container">
    <div class="sections-title-cource title-cource-png">
        <div class="hor-line"></div>
        <h1>Стретчинг</h1>
    </div>
    <div class="index-about">
        <div class="index-about-left">
            <h1>Наш Клуб предлагает стретчинг(растяжку) для девочек занимающихся художественной, эстетической и спортивной гимнастики, фигурным катанием, балетом.</h1>
            <h2>Занятия проводятся в мини-группах и индивидуально, по договоренности с тренером.</h2>
        
        <!-- Ссылки на вызов модальных окон-->
    <a href="#win1" class="enroll-button">Записаться &#187</a>
<!-- Модальное окно №1 -->
   <a href="#x" class="overlay" id="win1"></a>
   <div class="popup">
         <form method="post" action="contactengine.php" class="contact-page-form">
                <input type="text" name="name" id="name" placeholder="Ваше имя" />
                <input type="text" name="phone" id="phone" placeholder="Номер телефона" />
                <input type="text" name="mail" id="mail" placeholder="Ваша почта" />
                <input type="textarea" name="question" id="question" placeholder="секция / возраст ребенка / уровень подготовки" />
                <input type="submit" name="submit" value="Отправить" />
         </form> 
    <a class="close"title="Закрыть" href="#close"></a>
    </div>
        </div>
    </div>
        </div>
</div>