---
title: Наши тренеры
---

<div class="container"> 

    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>наши тренеры</h1>
    </div>
    
    <div class="coach">
        <div class="coach-img-holder">
            <%= image_tag "vinocurova.jpg" %>
            <h1>Винокурова Мария Сергеевна</h1>
        </div>
        <div class="coach-info">
            <h1>Директор, тренер-постановщик</h1>
            <div class="hor-line"></div>
            <p>Мастер спорта по художественной гимнастике РФ.</p>
            <p>Воспитанница заслуженного тренера РФ Панковой Екатерины Валентиновны, СДЮШОР «Крылья Советов».</p>
            <p>Многократная Чемпионка Москвы в групповых упражнениях по художественной гимнастике, призер Первенства Москвы по художественной гимнастике в личном зачете, Чемпионка России и  Чемпионка Мира по эстетической гимнастике.</p>
            <p>Студентка Российского Государственного Университета Физической Культуры Спорта Молодежи и Туризма (РГУФКСМиТ).</p>
            <p>Имеет четырехлетний опыт в постановке программ по художественной гимнастике (личных, групповых) для воспитанниц СДЮШОР «Крылья Советов», СШОР № 25 г.Москва, МБУ ДО «ДЮСШ» г.Реутов, ДЮСШ г.Краснознаменск.</p>
            <p>С 2014 г. является хореографом-постановщиком по эстетической гимнастике команд  СК «РОКСЭТ» г. Тула.</p>
            <p>Так же имеет опыт в постановке хореографических композиций для показательных выступлений.</p>
        </div>
    </div>
    <!--  coach -->
    <div class="coach">
        <div class="coach-img-holder">
            <%= image_tag "cruglova.jpg" %>
            <h1>Круглова Яна Игоревна</h1>
        </div>
        <div class="coach-info">
            <h1>Старший тренер</h1>
            <div class="hor-line"></div>
            <p>Мастер спорта по художественной гимнастике РФ.</p>
            <p>Воспитанница заслуженного тренера РФ Зайцевой Лидии Викторовны, Зайцевой Ирины Владиславовны, ДЮСШ № 6 г.Тула.</p>
            <p>Многократный победитель и призер всероссийских и международных турниров.</p>
            <p>Окончила РГУФКСМиТ, квалификация тренер-преподаватель «Физической культуры» (диплом с отличием).</p>
            <p>Стаж работы с детьми 7 лет.</p>
        </div>
    </div>
    <!--  coach -->
    <div class="coach">
        <div class="coach-img-holder">
            <%= image_tag "subbotina.jpg" %>
            <h1>Субботина Алина Валерьевна</h1>
        </div>
        <div class="coach-info">
            <h1>Тренер по акробатике</h1>
            <div class="hor-line"></div>
            <p>Мастер спорта по спортивной акробатике.</p>
            <p>Чемпионка России 2006/2007 г., чемпиона ЦФО 2006 г.</p>
            <p>Окончила РГУФКСМиТ, кафедра спортивной режиссуры и анимации.</p>
            <p>Опыт работы 4 года в хореографическом отделении Первой Школы Мюзикла.</p>
        </div>
    </div>
    <!--  coach -->
    <div class="coach">
        <div class="coach-img-holder">
            <%= image_tag "vasterjinskaya.jpg" %>
            <h1>Вастержинская Елена Владиславовна</h1>
        </div>
        <div class="coach-info">
            <h1>Хореограф</h1>
            <div class="hor-line"></div>
            <p>Окончила Самарской Академии культуры и искусства, хореграфический и режисерский факультеты.</p>
            <p>Работала солисткой в Оренбургском Государственном хоре, в шоу-балете «Глория», далее балетмейстером-постановщиком.</p>
            <p>Также работала хореографом  в ДЮСШ «Снежные барсы» (фигурное катание) и  СДЮШОР «Крылья Советов» (художественная гимнастика).</p>
            <p>Выпускники Елены Владиславовны учатся на хореографических отделениях в ВУЗах страны, в т.ч. Московской государственной академии хореографии, в Академии русского балета им. А.Я.Вагановой г.Санкт-Петербург.</p>
            <p>Стаж работы с детьми – 22 года.</p>
        </div>
    </div>
</div>