---
title: Попечительский совет СК «Гранд»
---

<div class="container"> 
    <div class="standart-page-title">
        <div class="hor-line"></div>
        <h1>Попечительский совет СК «Гранд»</h1>
    </div>
    
    <div class="trustee">
        <div class="trustee-img-holder">
            <%= image_tag "poddubniy.jpg" %>
            <h1>Поддубный Сергей Анатольевич</h1>
        </div>
        <div class="trustee-info">
            <h1>Депутат Государственной Думы ФС РФ</h1>
            <div class="hor-line"></div>
            <p>Заместитель председателя комитета ГД по физической культуре, спорту и делам молодёжи</p>
            <p>Заслуженный мастер спорта</p>
        </div>
    </div>
    <div class="trustee">
        <div class="trustee-img-holder">
            <%= image_tag "vshivcev.jpg" %>
            <h1>Вшивцев Владимир Сергеевич</h1>
        </div>
        <div class="trustee-info">
            <h1>Депутат Государственной Думы ФС РФ</h1>
            <div class="hor-line"></div>
            <p>Заслуженный мастер спорта</p>
        </div>
    </div>
    <div class="trustee">
        <div class="trustee-img-holder">
            <%= image_tag "batisheva.jpg" %>
            <h1>Батышева Татьяна Тимофеевна</h1>
        </div>
        <div class="trustee-info">
            <h1>Депутат Московской городской Думы</h1>
            <div class="hor-line"></div>
            <p>Член Комиссии МГД по физической культуре, спорту и молодежной политике</p>
        </div>
    </div>
    <div class="trustee">
        <div class="trustee-img-holder">
            <%= image_tag "scvorcova.jpg" %>
            <h1>Скворцова Ирина Олеговна</h1>
        </div>
        <div class="trustee-info">
            <h1>Член Общественной палаты Российской Федерации</h1>
            <div class="hor-line"></div>
            <p>Заместитель председателя Комиссии ОПРФ по охране здоровья, физической культуре и популяризации здорового образа жизни</p>
        </div>
    </div>
</div>

