---
title: художественная гимнастика
---

<div class="container"> 

    <div class="gallery-album">
        <div class="gallery-img-holder">
            <a href="#"><%= image_tag "poddubniy.jpg" %></a>
        </div>
        <div class="gallery-img-holder">
            <a href="#"><%= image_tag "poddubniy.jpg" %></a>
        </div>
        <div class="gallery-img-holder">
            <a href="#"><%= image_tag "poddubniy.jpg" %></a>
        </div>
        <div class="gallery-img-holder">
            <a href="#"><%= image_tag "poddubniy.jpg" %></a>
        </div>
    </div>
    
</div>